{% extends 'base.html' %}

{% block title %}Login{% endblock %}


{% block banner %}
  <div class="banner">
    <h1>Aviram’s Diners</h1>
  </div>
{% endblock %}



{% block content %}
    <h2 class="mb-4">Login</h2>
    <form method="POST" action="{{ url_for('auth.login') }}" >
        <div class="mb-3">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="text" name="password" id="password" required>
        </div>
        <button type="submit" class="button">Login</button>
    </form>
{% endblock %}