{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block banner %}
  <div class="banner">
    <h1>Aviram’s Diners</h1>
  </div>
{% endblock %}

{% block content %}
    <script>
        function toggleVerificationField() {
            const role = document.getElementById('role').value;
            const verificationField = document.getElementById('verification-field');
            if (role === 'owner') {
                verificationField.style.display = 'block';
                document.getElementById('verification').required = true;
            } else {
                verificationField.style.display = 'none';
                document.getElementById('verification').required = false;
            }
        }

        window.onload = toggleVerificationField;
    </script>

    <h2 class="mb-4">Register</h2>
    <form method="POST" action="{{ url_for('auth.register') }}"></form>
        <div class="mb-3">
            <form method="POST" action="{{ url_for('auth.register') }}">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>

        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="text" name="password" id="password" required>
        </div>

        <div class="mb-3">
            <label for="role" class="form-label">Customer or Owner?</label>
            <select type="text" name="role" id="role" class="form-select" required>
                <option value="" disabled selected>Select your role</option>
                <option value="customer">Customer</option>
                <option value="owner">Owner</option>
            </select>
        </div>

        <div class="mb-3" id="verification-field" style="display: none;">
            <label for="verification">Verification:</label>
            <input type="text" name="verification" id="verification"><br><br>
        </div>

        <button type="submit" class="button">Register</button>
    </form>
{% endblock %}